@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');

body{
    background-color: #303f4e;
    margin:0px;
    height: 100%;
    width: 100%;
    font-family: 'Oswald';
}

/*Menu Bar*//*---------------------------------------------------------------------*/

ul#fields{
    top: 0px;
    margin: 0px;
    width: 100%;
    height: 50px;
    background-color: white;
    text-align: right;
    line-height: 50px;
    padding: 0px;
}

ul#fields li{
    list-style: none;
    display: inline-block;
    border-left: 2px solid #303f4e;
    border-top: none;
    border-bottom: none;
    padding-left: 15px;
    padding-right: 15px;
}

.fade{
    opacity: 0.5;
}
ul#fields li.mHover:hover{
    color: white;
    background-color: #303f4e;
    opacity: 0.5;

}

#fLogo{
    position: absolute;
    left: 0px;
    top:3px;

}

/*Banner*//*-----------------------------------------------------------------------*/

div#banner{
    color: white;
    position: relative;
}

div#banner #bannerImg{
    width: 100%;
    height: 600px;
    opacity: 0.5;
}

div#banner #bannerTitle{
    position: absolute;
    top: 15%;
    right: 43%;
    font-size: 30px;
}

div#banner p{
    line-height: 1;

}

div#banner #bannerP{
    position: absolute;
    top: 27%;
    text-align: center;
    right: 27%;
    color: #acacac;
}

div#banner button{
    background-color: #f18538;
    position: absolute;
    top: 60%;
    height: 45px;
    width: 150px;
    color: white;
    font-family: 'Oswald';
    font-size: 20px;
    right: 43%;
    border-radius: 5px;
    font-weight: bolder;
    border: none;
}


#subBannerButton{
    border-radius: 5px;
    height: 35px;
    width: 90px;
    background-color: #4c7293;
    border: none;
    font-family: 'Oswald';
    color: white;
    position: absolute;
    top: 96%;
    right: 45.5%;
    font-weight: bolder;
}

/*Section*//*------------------*/

/*Basic Informations*/

div#basicInformations{
    background-color: white;
    text-align: center;
}

div#basicInformations figure{
    display: inline-block;
}

div#basicInformations p{
    font-size:11px;
    color: #acacac;
}

div#basicInformations .titleImg{
    color: #454545;
    font-size: 25px;
    font-weight: bold;

}

div#basicInformations figure img{
    position: relative;
    width: 200px;
    height: 200px;
}


/*Div Our Company ---------------------------*/

div#ourCompany {
    text-align: center;
    color: #acacac;
    position: relative;
}

h2{
    color: #ff9901;
    margin-left: 30px;
}

div#ourCompany figure{
    display: inline-block;
}

div#ourCompany img{
    border: 10px solid rgb(233, 228, 228);
}

/*Contact Us -------------------------------------- */
div#contactUs{
    background-color: white;
}

form#formContact{
    margin-left: 20px;
}

fieldset p{
    margin-top: 3px;
    margin-bottom: 0px;
}

fieldset#fieldSex p input{
    float: right;
}

/*Map Where We Are --------------------------------*/
div#whereweare{
    text-align: center;
    padding: 10px;
    padding-top: 0px;
}